doctype html
html
    head
        meta(http-equiv="content-type", charset="UTF-8")
        title Excel Export
        link(rel="stylesheet" href="css/Main.css")
        script(src="js/jQuery.js")
        script(src="js/Main.js")
    body
        .wrapper
            button(onclick="exportExcel()") Export Excel
